.bg-secondary {

    background-color: #222a9b !important;

}

.copyright {

    background-color: #000000;

}

.bg-primary {

    background-color: #191f76 !important;

}

nav {

    font-weight: 700;

}

.img-card {

    height: 18vw;

    object-fit: cover;

}

.logo-image {
    width: 200px;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
}