.bg-secondary {

    background-color: #222a9b !important;

}

.copyright {

    background-color: #000000;

}

.bg-primary {

    background-color: #191f76 !important;

}

nav {

    font-weight: 700;

}

.img-card {

    height: 18vw;

    object-fit: cover;

}

#button-create {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.logo-image {
    width: 200px;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
}
.left-btn { float: left; }
.right-btn { float: right; }